@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a{
  font-style: none;
  color: inherit;
  text-decoration: none;
}
.main {
  
  border: 1px solid #000;
  
}
.Background{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../abc/backgroun.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .6;
  animation: animateBG 5s linear infinite ;
  
}



.main-header {
  overflow-x: hidden;
  width: 100%;
  height: 60px;
  background-color: #ffbd1a; 
   /* Color de fondo de base */
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent); /* Patrón de fibra de carbono */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #5f5437c4;
}
.main-alert {
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #edd57e;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  justify-content: flex-start;
  align-items: center;
}
.main-playground {
  padding-top: 10px;
  width: 100%;
  height: 94vh;
  background-color: #edd57e;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent); /* Patrón de fibra de carbono */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.main-msj {
  height: 30px;
  width: auto;
  color: rgb(38, 37, 37);
  margin-bottom: 10px;
}
.main-title {
  font-weight: bold;
  color: white;
}
.main-container {
  background-color: #fffcee;
  border-radius: 20px;
  width: 400px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 101px));
  grid-auto-rows: 100px;
  justify-content: center;
  gap: 10px;
}

.ajustes {
  
 background-color: #f7f7f7;
  position: relative;
  top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
 
}
.ajustes-title {
  font-weight: 700;

}
.asjuste-botones{
  margin-top: 30px;
  z-index: 90;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.Boton-Style{
  
  transition: .4s ease;
  margin: 20px 10px ;

  color: #f7f7f7;
  
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
 
}
.Boton-Style{
  cursor: pointer;

}
.Boton-back{
  border: 1px solid linear-gradient(#ff7070 , rgb(233, 57, 57));
  box-shadow: 1px 3px 4px #ff0000;
  background: linear-gradient(#ff7070 , rgb(233, 57, 57));
}


.boton-back:active{
  position: relative;
  top: 1px;
  background: linear-gradient(#a44848 , rgb(147, 36, 36));
  box-shadow: 1px 2px 2px #4e3b3b;
}
.ajustes-boton {
  justify-self: center;
  grid-row: 3/4;
  min-width: 120px;
  padding: 0 10px;
  margin: 0 10px;
  height: 45px;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 10px #9a732e;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Boton-facil {
  background: #ffbd1a;
  background: linear-gradient(#ffbd1a , #a97e11);
}
.Boton-medio {
 
  background: linear-gradient(#135785 , #0c3956);
}
.Boton-dificil {
  
  background: linear-gradient(#ff6e1a , #a91911);
}

.card {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: 1s ease;
}
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffbd1a; /* Color de fondo de base */
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent); /* Patrón de fibra de carbono */
  backface-visibility: hidden;
  border-radius: 12px;
  box-shadow: 5px 5px 3px #9a732e;
  transition: .4 ease-in ;
}
.card-front:hover{
  cursor: pointer;
  position: relative;
  top: -3px;
}
.card-back {
  border-radius: 12px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  box-shadow: 5px 5px 1px #e0ba77;
}

.logo {
  position: relative;
  top: 80px;
  width: 311px;
  height: 90px;
  background-color: #9a732e;
  font-family: "Yusei Magic", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
}
.logo-card {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  background-color: #ffbd1a;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent); /* Patrón de fibra de carbono */
}
.logo--card1 {
  top: -81px;
  right: -21px;
  transform: rotate(142deg);
  box-shadow: 10px -1px 8px #000;
}
.logo--card2 {
  top: -78px;
  right: 15px;
  transform: rotate(24deg);
  box-shadow: 10px -1px 8px #000;
}

.cardVolteada {
  transform: rotateY(180deg);
}

.card-back {
  background-size: cover;
  background-position: center;
}

.letraa {
  background-image: url("/abc/letraa.png");
}

.letrab {
  background-image: url("/abc/letrab.png");
}

.letrac {
  background-image: url("/abc/letrac.png");
}

.letrad {
  background-image: url("/abc/letrad.png");
}

.letrae {
  background-image: url("/abc/letrae.png");
}

.letraf {
  background-image: url("/abc/letraf.png");
}

.letrag {
  background-image: url("/abc/letrag.png");
}

.letrah {
  background-image: url("/abc/letrah.png");
}

.letrai {
  background-image: url("/abc/letrai.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.letraj {
  background-image: url("/abc/letraj.png");
}

.letrak {
  background-image: url("/abc/letrak.png");
}

.letral {
  background-image: url("/abc/letral.png");
}

.letram {
  background-image: url("/abc/letram.png");
}

.letran {
  background-image: url("/abc/letran.png");
}

.letrao {
  background-image: url("/abc/letrao.png");
}

.letrap {
  background-image: url("/abc/letrap.png");
}

.letraq {
  background-image: url("/abc/letraq.png");
}

.letrar {
  background-image: url("/abc/letrar.png");
}

.letras {
  background-image: url("/abc/letras.png");
}

.letrat {
  background-image: url("/abc/letrat.png");
}

.letrau {
  background-image: url("/abc/letrau.png");
}

.letrav {
  background-image: url("/abc/letrav.png");
}

.letraw {
  background-image: url("/abc/letraw.png");
}

.letrax {
  background-image: url("/abc/letrax.png");
}

.letray {
  background-image: url("/abc/letray.png");
}

.letraz {
  background-image: url("/abc/letraz.png");
}

.mensaje {
  z-index: 99;
  position: absolute;
  top: 150px;
  width: 400px;
  height: 480px;
  border-radius: 20px;
  padding-top: 70px;
  background: linear-gradient(rgb(239, 208, 29) , rgb(216, 29, 29));
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 56%, 50% 100%, 0 56%);
  
}
.mensaje-anuncio {
 
color: white;
  font-size: 42px;
  
}
.Boton-victoria{
  position: relative;
  top: 90px;
  border: #f7f7f7 2px solid ;
  border-radius: 10px;
  padding: 5px 10px;
  color: whitesmoke;
  animation: showBoton 3s linear  both;
  opacity: 0;
}
@keyframes showBoton{
  to{
    opacity: 1;
  }
}

.hidden {
  display: none;
  z-index: -1;
}

@media (min-width: 926px) and (max-width: 1006px) {
  .main-container {
    width: auto;
    height: auto;
    padding: 21px;
    grid-template-columns: repeat(6, 110px);
  }
  .main-playground {
    min-height: 100vh;
    height: auto;
  }
  .ajustes {
    min-width: 279px;
    min-height: 119px;
    border-radius: 0 0 20px 20px;
    box-shadow: 2px 3px 12px;
  }
  .ajustes-boton {
    margin: 0 10px;
  }
  .ajustes-title {
    position: relative;
  }
  .logo {
    top: 108px;
  }
}
@media (min-width: 1050px) {
  .main-container {
    width: auto;
    height: auto;
    padding: 21px;
    grid-template-columns: repeat(6, 110px);
  }
  .ajustes {
    min-width: 279px;
    min-height: 119px;
    border-radius: 0 0 20px 20px;
    box-shadow: 2px 3px 12px;
  }
  .ajustes-boton {
    margin: 0 10px;
  }
}/*# sourceMappingURL=style.css.map */